.profile-picture-modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.profile-picture-modal-content{
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    position: relative;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
/* button-close */
.modal-close-btn-top {
    margin-left: 95%;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000000;
    transition: color 0.3s ease;
    z-index: 999;
  }
  
  .modal-close-btn-top:hover {
    color: #7e4cdd;
  }