/* src/css/layout.css */
.layout-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 10px; 
    margin-top: 70px;
  }
  
  /* .left-column, .right-column {
    width: 25%;
    padding: 10px;
  
  } */
  

  