/* Home.css */

/* Overall layout */
.page-content {
  margin-top: 60px; /* Adjust according to the height of the navbar */
}

.navbar-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e4d80;
  padding: 10px;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.auth-buttons {
  display: flex;
}

.nav-button {
  margin-left: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-btn {
  background-color: #fff;
  color: #2e4d80;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: #f8f8f8;
  border-radius: 10px;
  margin: 20px;
}

.text-section {
  width: 50%;
}

.text-section h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-section p {
  font-size: 18px;
  margin-bottom: 40px;
}

.search-login {
  display: flex;
  align-items: center;
}

.search-bar {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-btn {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #333; /* Optional hover effect */
}
